.popup {
    position: fixed;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    border-radius: 15px;
    justify-content: center;
    text-align: center;
}

.popup-inner .close-btn{
    position: absolute;
    top: 270px;
    right: 140px;
}

.addCardTitle{
    color: #fff;
    text-align: center;
    font-size: 32;
    font: 'playfair';
}

.label {
    color: #fff;
}